<div class="container">
    <ul class="largeWidth no-margin-left" style="list-style-type:none" data-bind="foreach: productos">
        <li class="product-box">
            <div class="product-info-box">
                <img class="img-rounded img-polaroid product-img" data-bind="attr: { src: $data.ProductoLogo }"/>
                <h3 data-bind="text: $data.ProductoNombre"></h3>
                <p data-bind="text: $data.ProductoDescripcion"></p>
                <div class="margin-top">
                    <input type="number" placeholder="Cantidad"/>
                    <a class="btn btn-primary btn-large marginButton" href="#/add">Agregar</a>
                </div>
            </div>
        </li>
    </ul>
</div>