.margin {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.imageMargin {
    padding-top: 40px;
}

.padding {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.marginButton {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.center {
    display: block;
    margin-right: auto;
}

.largeWidth {
    width: 100%;
}

.labelWidth {
    width: 80%;
}

.btnWidth {
    width: 20%;
}

.halfWidth {
    width: 50%;
}

.z-index {
    z-index: 5;
}

.addButton {
    float: left;
    margin-left: 5px;
}

@media (max-width: 360px) {
    .addButton {
        float: right;
    }
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.product-box {
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #887788;
    padding-left: 15px;
    margin-bottom: 20px;
    background: rgba(238, 238, 238, 0.2);
}

.product-info-box {
    /*border: 2px solid;*/
    border-radius: 6px;
    padding-left: 15px;
    margin-right: 5px;
    background: rgba(157, 192, 17, 0.8);
    padding: 5px;
}

.no-margin-left {
    margin-left: 0;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li div img {
  float: left;
  margin: 0 15px 0 0;
}

li div div {
  float: right;
  margin: 0 15px 0 0;
}
 
li div p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
.product-img {
    margin-top: 15px;
    /*border: 6px solid rgba(0,0,0,0.4);*/
    width: 100px;
    margin-left: 10px;
}

input[type=number] {
    width: 75px;
    font-size: 28px;
    height: auto;
}

.margin-top {
    margin-top: 10px;
}

/*.durandal-wrapper {
    background-color: aliceblue;
}*/

.page-header {
    margin-bottom: 0;
    background: #9dc011 url('images/header_bg.jpg');
    box-shadow: 0 -2px 15px rgba(2,3,3,0.15);
}

.text-right {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
}

.left {
    display: block;
    margin-right: auto;
}

.price {
    font: 400 34px 'Sanchez';
    margin-right: 5px;
    color: #9dc011;
}

.price-by-amount {
    font: normal 28px 'Patua One';
}

.order-font {
    font: normal 20px 'Patua One';
}

.order-box-padding {
    padding: 10px;
    font-size: 10px;
    margin-top: 10px;
}

.order-price {
    font: 400 20px 'Sanchez';
    margin-right: 5px;
    color: #9dc011;
}

.products-order-table {
    margin-left: 20px;
    margin-top: 10px; 
    margin-bottom: 10px;
}